:root {
    --primary-color: rgb(9, 91, 12);
    --primary-color-hover: rgb(6, 73, 7);
    --border-color: rgb(6, 73, 7);
    --transition-ease: 0.5s ease;
    --common-padding: 10px;
    --common-border-radius: 10px;
    color-scheme: light dark;
}

/* Top Styles */
body {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: Arial, sans-serif;
    background-color: rgb(240, 240, 240);
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(33, 37, 41);
    text-align: left;
}

@media (prefers-color-scheme: light) {
    body {
        background: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
    }
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.selector,
.input-file,
.text-area {
    padding: var(--common-padding);
    border-radius: var(--common-border-radius);
    border: 1px solid var(--border-color);
    width: 100%;
    resize: none;
}

.selector:hover,
.input-file:hover,
.text-area:hover {
    border: 1px solid var(--primary-color-hover);
}

.text-area {
    margin-top: var(--common-padding);
    margin-bottom: 14px;
    max-width: 100%;
    height: 200px;
    box-sizing: border-box;
    font-size: 0.75rem;
}

/* Sidebar Styles */
#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    border-right: 5px solid var(--border-color);
    transition: width var(--transition-ease);
    width: auto;
    height: 100%;
}

#sidebar.collapsed {
    width: 80px;
}

#sidebar.collapsed #settings-button,
#sidebar.collapsed #about-button {
    display: none;
}

/* Main Content Styles */
#main-content {
    padding: 10px;
    width: calc(100% - 200px);
    transition: var(--transition-ease);
}

#main-content.collapsed {
    width: calc(100% - 50px);
}

/* Selector Styles */
#asr-engine-selector-label {
    margin-right: 5px;
}

#asr-model-selector-label {
    margin-right: 10px;
}

/* Button Styles */
.button {
    background-color: var(--primary-color);
    color: rgb(255, 255, 255);
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: var(--transition-ease);
    margin-bottom: 10px;
}

#sidebar-toggle-button,
#settings-button,
#about-button,
#configuration-button,
#start-button,
#clear-button,
#copy-button {
    display: stretch;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    transition: background var(--transition-ease);
    color: rgb(255, 255, 255);
    padding: 10px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    margin-right: 0px;
    margin-left: 0px;
}

#start-button,
#configuration-button,
#clear-button,
#copy-button {
    width: auto;
}

#clear-button,
#copy-button {
    margin-bottom: 20px;
}

.dialog-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.dialog-buttons .button {
    margin: 0 20px;
    width: 120px;
}

/* Process Styles */
#file-upload {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-between;
    height: 50px;
    margin-top: 10px;
}

.uploaded-file-label {
    display: inline-block;
    padding: 10px;
    background: var(--border-color);
    cursor: pointer;
}

#drop-zone {
    flex-direction: column;
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    border: 5px dashed var(--border-color);
    padding: 20px;
    cursor: pointer;
}

#result {
    margin-top: 50px;
    width: 100%;
}

#result-header,
#result-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Form Styles */
#settings-form,
#configuration-form {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

#settings-form > div,
#configuration-form > div {
    margin-bottom: 20px;
}

#settings-title,
#configuration-title {
    text-align: center;
}

/* Dialog Styles */
dialog {
    width: 75vw;
    height: 75vh;
    border: 5px solid var(--border-color);
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
}

dialog::backdrop {
    background: rgb(0, 0, 0);
    backdrop-filter: blur(10px);
}

#language-label {
    margin-right: 10px;
}
